 
        {{#each this}}
        <h2 class="header-name">{{name}}</h2>
        <div class="colums">
            <div class="description">
                <p><span class="bold-text">Capital: </span>{{capital}}</p>
                <p><span class="bold-text">Population: </span>{{population}}</p>
                <p class="bold-text">Languages: </p>
                <ul>
                    {{#each languages}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </div>
            <img src="{{flag}}" alt="{{name}}" width="700px">
        </div>
        {{/each}}

  
